<div class="panel panel-default panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Навигация</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="/">Главная</a></li>
			<li role="presentation"><a href="/rasp/">Расписание</a></li>
			<li role="presentation"><a href="/bj/">Успеваемость</a></li>
			<li role="presentation"><a href="#">Полезные ссылки</a></li>
			<li role="presentation"><a href="#">Онлайн библиотека</a></li>
			<li role="presentation"><a href="#">Онлайн консультация</a></li>
			<li role="presentation"><a href="/contacts/">Контакты</a></li>
		</ul>

	</div>
</div>